<div class="container">

    <div class="quest">
      <figure>
        <blockquote class="blockquote">
          <%=@enter%>
        </blockquote>
        <figcaption class="blockquote-footer">
          You
        </figcaption>
      </figure>
    </div>

    <div class="rep">
      <figure>
        <blockquote class="blockquote fw-bold">
          <%= @answer%>
        </blockquote>
        <figcaption class="blockquote-footer">
          Your coach
        </figcaption>
      </figure>
    </div>
    <%= link_to "Ask a new question", ask_path %>
</div>
