<div class="container">
            <p>Ask you coach anything</p>
            <form action="/answer" data-turbo="false" class="d-flex" >
                <input type="text" class="form-control text-input"  name="questions">
                <input type="submit" value="Ask!" class="btn btn-primary ">
            </form>
        </div>
